
body{
    padding-top:2rem;
}
h1{
margin-bottom:2rem;
}
h2,h3,h4{
    margin-bottom:2rem;
}
h2,h3,h4{
    padding-top:2rem;
}
.container{
    max-width:40rem;
}
blockquote{
    margin-left: 1rem;
    background-color: #e5e5e5;
    padding:1rem;
}

.toc{
    padding-top:2rem;
    padding-bottom:2rem;
}
table{
    margin-bottom:2rem;
    border-collapse:collapse;

}
th,td{
    background-color: #e5e5e5;
    border:2px solid white;
}

nav{
    margin-bottom:2rem;
}